TAVILY_API_KEY=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
DEEPSEEK_API_KEY=sk-bdbe94081c88404aaa64ef859638708a
SMTP_USER=l18826425463@gmail.com
SMTP_PASSWORD=arynjekmctsifort
TO_EMAIL=trevormclaughlin5940@gmail.com
